.panel2 {
    padding: 1em;
}
.panel2 div + div {
    margin: 0;
}

.panel2 div.indent {
    margin-left: 2em;
}

.panel3 .head {
    height: initial;
}

.panel3 .left-eye {
    float: left;
}

.panel3 .right-eye {
    float: right;
}

.panel3 .mouth {
    float: left;
}